/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.titres1{

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titres{

  width: 22%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  position: absolute;
  left: -91px;
  top: 39px;
}

 .nombre{

color:#fff;
background-color:var(--bs-primary);
border-radius:50%;
padding: 1px 7px;
font-size: 13px;
z-index: 10; 
}

@media screen and (max-width: 775px){

.titres{

width: 67%;
justify-content: flex-start;
}

.nombre{
margin-left:5px;
}
}

.bouttons .boutton {
  max-width: 50px;
  width: 100%;
  background: var(--bs-primary);
  color: #f9f9f9;
  border: none;
  padding: 8px;
  /* text-transform: uppercase; */
  border-radius: 2px;
  cursor:pointer;
  margin-top: 20px;
}

.bouttons{
  display: flex;
  justify-content: center;
  align-items: center;

}
.bouttons .boutton:hover {
 color: var(--primary-color);
 background-color: #fff;
 border: 1px solid var(--bs-primary);
}

